@import "tailwindcss";


@theme {
    --color-sidebar: #40513B;
    --color-sidebar-hover: #609966;
    --color-background: #EDF1D6;
    --color-card: #9DC08B;
    --color-accent: #609966;
    --color-earth: #8C7A64;
}

body {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-background);
}
